#logo {
    font-size: 8em;
}

#content {
    margin: 40px auto;
}

.topic {
    color: black;
    font-size: 2em;
}
.topic:hover {
    color: gray;
}

.topic-panel {
    background-color: #eee;
    box-shadow: 2px 2px 2px gray;
    margin: 5px 0;
}

.row {
    margin: 10px auto;
}

dl dt { font-size: 1.5em; }

/* Icon 3 */

.humburger span:nth-child(1) {
    top: 0px;
}

.humburger span:nth-child(2),.humburger span:nth-child(3) {
    top: 18px;
}

.humburger span:nth-child(4) {
    top: 36px;
}

.humburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.humburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.humburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.humburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
